<ifModule mod_expires.c>
    ExpiresActive On
    # по умолчанию кеш в 5 секунд
    ExpiresDefault "access plus 6 month"
    # Включаем кэширование изображений и флэш на месяц
    ExpiresByType image/x-icon "access plus 1 month"
    ExpiresByType image/jpg "access plus 4 weeks"
    ExpiresByType image/png "access plus 6 month"
    ExpiresByType image/gif "access plus 43829 minutes"
#    ExpiresByType application/x-shockwave-flash "access plus 2592000 seconds"
    # Включаем кэширование css, javascript и текстовых файлоф на одну неделю
#    ExpiresByType text/css "access plus 604800 seconds"
#    ExpiresByType text/javascript "access plus 604800 seconds"
#    ExpiresByType application/x-javascript "access plus 604800 seconds"
    # Включаем кэширование html и htm файлов на один день
#    ExpiresByType text/html "access plus 43200 seconds"
    # Включаем кэширование xml файлов на десять минут
#    ExpiresByType application/xhtml+xml "access plus 600 seconds"
</ifModule>
<IfModule mod_rewrite.c>
#Cache-Control: max-age=2629000

    RewriteEngine On

    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>